body {
    padding: 20px;
}

button {
    margin-right: 5px;
}

.appDiv {
    display: flex;
    width: 100%;
}

.taskList {
    width: 50%;
   
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.list li{
    display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
}

.formDiv {
    width: 50%;
}

.deleteTask {
    border: black 1px solid;
    background-color: red;
    color: antiquewhite;
}

.text-decoration{
    text-decoration: line-through 2.5px black;
}

.lista{
    border: 2px black solid;
}

.titulo{
    color: blueviolet;
}